@import '~antd/dist/antd.css';

.App {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  background: #B0019B;
}

body h1.ant-typography {
  color: white !important;
}

img {
  cursor: help;
  height: 100vh;
}

.textarea {
  width: 100%;
  font-size: 26px;
  font-weight: 500;
  color: white;
  background: #B0019B;
  border: none;
}

.textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.textarea::-webkit-scrollbar {
  width: 6px;
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 8px;
}

.right {
  padding: 30px 25px;
  width: 100%;
  flex-grow: 1;
}

ol {
  font-size: 25px;
}

body .modal h1.ant-typography {
  color: black !important;
}